@model GioHangViewModel

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Cart</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                <li class="active" aria-current="page">Cart</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Cart Section:::... -->
<div class="cart-section">
    <!-- Start Cart Table -->
    <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="table_page table-responsive">
                            <table>
                                <!-- Start Cart Table Head -->
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                                <tbody>
                                    @foreach(var item in Model.DsGioHang)
                                    {
                                        <!-- Start Cart Single Item-->
                                        <tr>
                                            <td class="product_remove"><a asp-action="Xoa" asp-route-giohangId="@item.Id"><i class="fa fa-trash-o"></i></a></td>
                                            <td class="product_thumb">
                                                <a href="product-details-default.html">
                                                <img src="@item.SanPham.ImageUrl" alt=""></a>
                                            </td>
                                            <td class="product_name"><a href="#">@item.SanPham.Name</a></td>
                                            <td class="product-price">@item.SanPham.Price $</td>
                                            <td class="product_quantity">
                                                <div class="cart-product-quantity">
                                                    <div class="input-group input-spinner">
                                                        <div class="input-group-prepend">
                                                            <a asp-action="Giam" asp-route-giohangId="@item.Id" style="min-width: 26px"
                                                                class="btn btn-decrement btn-spinner" type="button">
                                                                <i class="icon-minus"></i>
                                                            </a>
                                                        </div> 
                                                        <input type="text" style="text-align: center" class="form-control" value="@item.Quantity">
                                                        <div class="input-group-append">
                                                            <a asp-action="Tang"  asp-route-giohangId="@item.Id" style="min-width: 26px"
                                                            class="btn btn-increment btn-spinner" type="button">
                                                            <i class="icon-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="product_total">@item.ProductPrice $</td>
                                        </tr> <!-- End Cart Single Item-->                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Table -->

    <!-- Start Coupon Start -->
    <div class="coupon_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                        <h3>Cart Totals</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Subtotal</p>
                                <p class="cart_amount">@Model.HoaDon.Total.00 $</p>
                            </div>
                            <div class="cart_subtotal">
                                <p>Shipping</p>
                                <p class="cart_amount"><span>Flat Rate:</span> Free</p>
                            </div>
                            <a href="#">Calculate shipping</a>

                            <div class="cart_subtotal">
                                <p>Total</p>
                                <p class="cart_amount">@Model.HoaDon.Total.00 $</p>
                            </div>
                            <div class="checkout_btn">
                                <a asp-action="ThanhToan" class="btn btn-md btn-golden">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Coupon Start -->
</div> <!-- ...:::: End Cart Section:::... -->